<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% block head %}
{% block title %}<title> HOME </title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
{% endblock %}
{% endblock %}
{% block body %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Index <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register_profile') }}">CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile') }}">ShowCV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<br>
<div class="container">
    <lu><h2> home profile </h2>

        <li> you can create cv : CV</li>
        <li> you can show cv : showcv </li>
    </lu>
</div>
{% endblock %}
{% endblock %}