<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}<title>LOGIN</title> {% endblock %}
{% block head %}
<!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">LOGIN To HOME</span>
    </nav>
    <span class="border border-primary">
            <div class="container">
                <div class="col-sm-6">
                    <h2 class="text-primary"> LOGIN </h2>
                </div>
            </div>
    </span>
{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
{% endblock %}
{% endblock %}

{% block body %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form method="POST" action="/login">
                 {% for message in get_flashed_messages() %}
                    <p><strong>Error:</strong> {{ message }}</p>
                {% endfor %}
                <ul>
                    {{ form.csrf_token }}
                    {{ render_field(form.name,size=20,placeholder = 'name') }}
                    {{ render_field(form.email,size =30 ,placeholder = 'example@gmil.com') }}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </ul>

            </form>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
